# Python virtual environments
.venv/
**/.venv/
venv/
**/venv/
env/
**/env/

# Python cache
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files / passwords
.env
.env.*
**/.env
**/.env.*
!.env.example
!**/.env.example

# VS Code
.vscode/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db